<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Discussion App</title>
</head>
<body>
    <div class="container">
        <h3 style="text-align: center;">Discussion WebApp</h3>
        <form method="POST">
            {% csrf_token %}
            {% for entry in form%}
                <br>
                {%if entry.name == "log"%}
                    question:
                {% else %}
                    {{entry.name}}:
                {% endif %}
                <br>
                {{entry}}
            {% endfor%}
            <br><br>
            <input type="submit" value="Post" class="btn btn-success">
            <br>
            <br>
        </form>

        {% for post in data %}
        <div class="jumbotron">
            <h4>Original Post:</h4>
            <h5>Author: {{post.name}}</h5>
            <h5>Post ID: {{post.id}}</h5>
            <h5>Date-time: {{post.datetime}}</h5>
            <h5>Post: {{post.log}}</h5>
            <br>
            <a href="{% url 'reply' %}"><button type="button" class="btn btn-success">Reply</button></a>
            <br>
            <br>
            {% for reply in replyData %}
            {% if post.id == reply.replyToInt %}
                <h4>Reply Post:</h4>
                <h5>Author: {{reply.name}}</h5>
                <h5>Reply: {{reply.reply}}</h5>
                <br>
            {% endif %}
            {% endfor %}
        </div>
        {% endfor %}   
    </div>


</body>
</html>